<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{pk}}</h1>
    <table border=1>
        <tr>
            <td><b>#</b></td>
            <td><b>name</b></td>
            <td><b>links for VLC</b></td>
            <td><b>actions</b></td>
        </tr>
        
        {% for link in links %}
        <tr>
            <td>{{link.pk}}</td>
            <td><a href="{% url 'videos-detail' link.pk %}">{{link.name}}</a></td>
            <td>{{link.links}}</td>
            <td><a href="{% url 'videos-delete' link.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'videos-create' %}">ADD Video </a>
</body>
</html>