<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Video!</h1>
    {{form_data}}
    <form action="" method="post">
        {% csrf_token %} 
       Name: <input type="text" name="name" required value="{{link.name}}"><br>
       Link: <input type="text" name="links" value="{{link.links}}"><br>
        <button>Add</button>
    </form>
    
</body>
</html>